
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url(../images/layered-waves-haikei.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* background-color: #e6d6ff; */
}

h1, h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #7439cc;
}


form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #7439cc; 
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #191919; 
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fbfbfb; 
    color: #7439cc; 
}

input[type="submit"],
button[type="submit"] {
    display: inline-block;
    background-color: #999;
    color: #fff; 
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #ccc; 
    color: #333; 
}

#clearArticles,
#deleteArticle {
    margin-right: 10px;
}

@media (max-width: 480px) {
    #deleteArticle,
    #deleteLastArticle {
        width: 100%;
        display: block;
        margin-right: 0;
    }
}

#articlesList {
    background-color: #333; 
}

/*------------------------- CONTAINER ET INFOS INFOS ACCUEIL ---------------------------------------------*/

.case {
    width: 50%;
}


.bordertitle {
    border-bottom: 4px solid #7ee987;
    border-top: 4px solid #7ee987;
    box-shadow: #917dff -5px 5px, rgba(145, 125, 255, 0.3) -10px 10px, rgba(145, 125, 255, 0.2) -15px 15px, rgba(145, 125, 255, 0.1) -20px 20px, rgba(145, 125, 255, 0.05) -25px 25px;
    /* border-bottom: 4px solid #917dff;
    border-top: 4px solid #917dff;
    box-shadow: #7ee987 -5px 5px, rgba(126, 233, 135, 0.3) -10px 10px, rgba(126, 233, 135, 0.2) -15px 15px, rgba(126, 233, 135, 0.1) -20px 20px, rgba(126, 233, 135, 0.05) -25px 25px; */
    /* border-bottom: 4px solid #e9de02;
    border-top: 4px solid #e9de02;
    box-shadow: #e9de024e -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    width: max-content;
    margin-left: 7em;
    padding-left: 1em;
    padding-right: 1em;
}


.containerindex {
    display: flex;
    flex-direction: column;
    min-width: 40em;
    max-width: 120em;
    align-items: center;
    border-radius: 48px 10px 46px 10px;
    -webkit-border-radius: 48px 10px 46px 10px;
    -moz-border-radius: 48px 10px 46px 10px;
    background-image: url(../images/blob-scene-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    display: flex;
    justify-content: center; /* Espacement égal entre les éléments */
    width: 100%;
}

.card {
    --background: linear-gradient(to right, #917dff 0%, #7ee987 100%); /*linear-gradient(to left, #7439cc 0%, #1ae42b 100%); */
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
    margin: 20px;
    margin-top: 15px;
    display: flex;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}

.card-info {
    --color: #f4f4f4;
    background: var(--color);
    color: var(--color);
    display: block;
    flex-direction: column; /* Affichage en colonnes */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    text-align: left !important;
}

.card .title {
    font-weight: bold;
}

/*Hover*/
.card:hover::after {
    opacity: 0;
}

.card:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
}

/* Ajouter un espace de 25px entre les deux cartes du haut */
.row:first-child .col-6 {
    margin-right: 25px;
}

/* Centrer la carte du bas */
.row:last-child {
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


/*------------------------- ONEPAGE ---------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Empêche le défilement horizontal d'apparaître */
}

.navbarHori {
    position: fixed;
    top: 50%; /* Positionne la barre de navigation à 50% du haut de la fenêtre */
    transform: translateY(-50%); /* Déplace la barre de navigation vers le haut de moitié de sa propre hauteur */
    right: 10px; /* Ajoute un espace à droite pour éviter le chevauchement avec la barre de défilement */
    width: 20px; /* Largeur réduite de la barre de navigation */
    height: calc(100vh - 50vh); /* Hauteur de la barre de navigation (100% de la hauteur moins 50% de la hauteur) */
    background-color: rgb(156, 255, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    opacity: 0.2; /* Définit l'opacité initiale à 0 (invisible) */
    transition: opacity 0.3s ease; /* Ajoute une transition sur l'opacité */
    z-index: 2;
}

.navbarHori:hover {
    opacity: 1; /* Rend la barre de navigation visible au survol */
}

.navbarHori a {
    text-decoration: none;
    margin-bottom: 18px; /* Réduit légèrement l'espacement entre les points */
    width: 10px; /* Largeur réduite du point */
    height: 10px; /* Hauteur réduite du point */
    border-radius: 50%; /* Pour rendre le point rond */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease; /* Ajoute une transition sur la propriété transform */
}

.navbarHori a:hover {
    transform: scale(0.9); /* Réduit légèrement la taille du point au survol */
}

.navbarHori a:active {
    transform: scale(0.8); /* Réduit davantage la taille du point lorsque pressé */
    /* background-color: #666; /* Change la couleur de fond du point lorsque pressé */
    opacity: 0;
}

.baniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 1em;
    background-image: url(https://www.barnes-international.com/images/titres_personnalises/-titre-lhYBl.jpg); 
    height: 60vh;
    border-radius: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 80px;
    /* background-image: url(https://img.freepik.com/vecteurs-premium/fond-remplissage-motif-repetition-sans-soudure_74869-1234.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1713571200&semt=ais); */
    /* --background: linear-gradient(to bottom, #ffffff 0%, #999999 100%);
    background: var(--background); */
    background-color: #eeeeee00;
    max-height: 400vh;
    min-height: 100vh;
}

.section h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    color : #7439cc;
}

.section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section ul li {
    margin-right: 1em;
    margin-left: 1em;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    font-size: 18px; /* Taille de texte ajustée */
    line-height: 1.6;
    color: #7439cc;
    font-family: "Arial", sans-serif; /* Changement de police */
}

/* Affiche la section correspondante lorsqu'un point est survolé */
.navbarHori a:hover::before {
    content: attr(data-section); /* Affiche le nom de la section */
    position: absolute;
    right: 180%; /* Positionne le texte à gauche de la barre de navigation */
    background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond du texte */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

@media (max-width: 768px) { /* Ajout de la règle media query pour les tailles de vue inférieures à 768px, qui est généralement utilisée pour les tablettes et les téléphones */
    .navbarHori {
        position: fixed;
        top: 50%;
        transform: translateY(-50%); /* Déplace la barre de navigation vers le haut de moitié de sa propre hauteur */
        height: auto;
        transform: none; /* Supprime la transformation de translation */
        opacity: 1; /* Rend la barre de navigation toujours visible */
        background-color: rgb(156, 255, 164); /* Couleur de fond */
    }
    
    .navbarHori:hover,
    .navbarHori a:hover,
    .navbarHori a:active {
        transform: none; /* Supprime la transformation au survol ou à l'activation */
        opacity: 1; /* Rend la barre de navigation toujours visible */
    }

    .navbarHori a::before {
        display: none; /* Cache le texte de section avant le survol */
    }
}

/*////////////////////////////////// PAGE BLOG /////////////////////////////////*/

#articlesList div {
    background-color: #ffffff; /*#f9f9f9;*/
    border-radius: 1em;
    margin: 1em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    width: 80%;
}

#articlesList p, #articlesList h2 {
    color: #7439cc;
}

#articlesList {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articlesList img {
    width: 10em;
    margin-right: 2em;
}