<!-- blog.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog La Maison Du Grand Mas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/flower.878x1024.png" type="image/x-icon">
</head>
<body>
    <%- include('navbar') %>

    <div id="articlesList">
        <!-- Les articles seront affichés ici -->
    </div>

    <script src="../js/blog.js"></script>
</body>
<%- include('footer') %> 
</html>
