<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Footer</title>
    <link rel="stylesheet" href="../css/footer.css"> <!-- Assurez-vous d'avoir un fichier CSS pour le style -->
</head>
<body>
    <!-- Contenu de la page -->

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-section about">
                    <h3>À propos</h3>
                    <p>Ce site a pour but de partager et de documenter mon activitée professionelle</p>
                </div>
                <div class="footer-section contact">
                    <h3>Contact</h3>
                    <p>Email: lamaisondugrandmas@gmail.com</p>
                    <p id="phone">Téléphone: 07 61 37 40 20</p>
                </div>
                <div class="footer-section mentions-legales">
                    <h3>Mentions Légales</h3>
                    <p><a href="/mentions">Consulter les mentions légales</a></p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; <%= new Date().getFullYear() %> Les Rangers de Pouvoirs. Tous droits réservés.</p>
            </div>
        </div>
    </footer>
</body>
</html>