<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <title>La Maison Du Grand Mas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/button.css">
</head>
<body>
    <%- include('navbar') %> 


    <div class="navbarHori">
        <a href="#Accueil" data-section="Accueil"><span></span></a>
        <a href="#Notre maison est votre maison" data-section="Notre maison est votre maison"><span></span></a>
        <a href="#Présentation du séjour" data-section="Présentation du séjour"><span></span></a>
        <a href="#Présentation de Marie" data-section="Présentation de Marie"><span></span></a>
        <a href="#Alimentation" data-section="Alimentation"><span></span></a>
        <a href="#Activité physique" data-section="Activité physique"><span></span></a>
        <a href="#Stress" data-section="Stress"><span></span></a>
        <a href="#Plaisir" data-section="Plaisir"><span></span></a>
        <a href="#Social" data-section="Social"><span></span></a>
    </div>
    
    <div class="baniere">
        <h1 class="phraseAccroche"> Retrouvez l'équilibre et la sérénité</h1>
        <div class="row">
        <div class="btn-clasic">
            <a href="#Accueil" class="boutonAccueil btn-content btn-clasiccontent" id="accueil">En savoir +</a>
        </div>
        <div class="btn-clasic">
            <a href="/entretien" class="boutonAccueil btn-content btn-clasiccontent">Prendre un RDV téléphonique</a>
        </div>
    </div>
    </div>
    <div id="Accueil" class="section">
        <h1>Accueil</h1>
        <div class="card">
            <div class="card-info">
                <div class="important-text-block">
                <p>Bienvenue dans notre maison sur les causses aveyronnais, un lieu conçu pour ceux qui cherchent à se reconnecter avec eux-mêmes. Cette maison a été pensé pour ceux qui souhaitent faire une pause dans le tumulte de la vie quotidienne.<br/>
                <br/>
                <hr>
                Le lieu a été soigneusement conçue pour favoriser les échanges, les connaissances et la réflexion. Que vous souhaitiez retrouver le goût de cuisiner, méditer, faire votre Qi gong, lire un livre a coté de la bibliothèque, ou simplement vous asseoir et écouter le chant des oiseaux, notre maison offre ces possibilités.<br/>
                <br/>
                <hr>
                Nous accueillons des personnes de tous horizons, qui cherchent à faire un point sur eux-mêmes et à trouver un sens à leur vie. Que vous soyez en quête de créativité, de guérison ou simplement de repos, notre maison vous est ouverte.<br/>
                <br/>
                <hr>
                Rejoignez-nous et découvrez un lieu où vous pouvez vous retrouver, vous ressourcer, vous déposer et repartir avec une nouvelle perspective sur la vie.</p>
                </div>
            </div>
        </div>
        <div class="containerindex">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Quand notre vie va trop vite</h2>
                            <ul>
                                <li>On ne prend plus le temps de se détendre</li>
                                <li>On ne prend plus le temps de prendre soin de soi</li>
                                <li>On est embarqué dans une routine folle</li>
                                <li>On perd sa confiance en soi, sa créativité</li>
                                <li>On n'est plus le chauffeur de notre vie</li>
                                <li>On ne trouve plus de sens dans sa vie</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Petit à petit ...</h2>
                            <ul>
                                <li>On se renferme sur soi</li>
                                <li>On est plus colérique</li>
                                <li>On devient ce que les autres semblent vouloir</li>
                                <li>On essaie de faire tellement bien qu'on ne se reconnaît plus</li>
                                <li>On est de plus en plus fatigué</li>
                                <li>On est moins joyeux ...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Pourtant, il serait judicieux de</h2>
                            <ul>
                                <li>Sortir de chez soi et demander de l'aide</li>
                                <li>Comprendre les mécanismes qui ont abouti à ces maux</li>
                                <li>Rester physiquement actif</li>
                                <li>Retrouver confiance en soi</li>
                                <li>Restaurer une hygiène de vie pour évacuer les problèmes de santé</li>
                                <li>Comprendre ses besoins</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Notre maison est votre maison" class="section">
        <h1>Notre maison est votre maison</h1>
        <div class="card">
            <div class="card-info">
                <h2>Dans cette petite maison au cœur d’une ferme, je vous accompagne avec </h2>
                <ul>
                    <div class="containerPres">
                        <img class="imagesPres" src="../images/devperso.jpg"/>
                        <img class="imagesPres" src="../images/alimentation.jpg"/>
                        <li>Des ateliers de développement personnel sur des sujets tels que la confiance en soi, la gestion du stress, et plus encore.</li> 
                        <li>Une alimentation saine, je propose une cuisine saine et nutritive, issus de produits locaux bio, et nous cuisinerons ensemble si le cœur vous en dit.</li>
                        <img class="imagesPres" src="../images/conseil.jpg"/>
                        <img class="imagesPres" src="../images/nature.jpg"/>
                        <li>Des conseils et coaching avec des sessions individuelles et collectives pour vous aider à naviguer dans votre voyage personnel.</li>
                        <li>Nature et randonnées, la maison est entourée de magnifiques paysages, parfaits pour des randonnées tranquilles ou simplement pour profiter de la nature.</li>
                        <img class="imagesPres" src="../images/livres.jpg"/>
                        <br/>
                        <li>Une bibliothèque de bien-être, une collection de livres et de ressources sur le bien-être, la créativité, et le développement personnel.</li>
                    </div>
            
                </ul>
            </div>
        </div>
    </div>

    <div id="Présentation du séjour" class="section">
        <h1>Je propose</h1>
        <div class="row">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Mes outils pour retrouver son cycle</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Des activités ensemble pour libérer la parole et reprendre confiance en soi avec les autres</li><li>Des ateliers de connaissances</li><li>Des temps d'introspection</li>
                        <li>Des rencontres avec les artisans de la terre, à la rencontre de personnes simples et authentiques qui nous nourrissent</li>
                        <li>Possibilité de prendre du temps pour aller chez un dentiste, un ostéopathe, ou pour arrêter de fumer</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Activités ensemble</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Faire un arbre de vie (pratique narrative) pour restaurer la confiance en soi</li>
                        <li>Des partages quotidiens autour de la CNV (Communication Non Violente) avec le support de « L'apprentie girafe »</li>
                        <li>Des jeux de développement personnel avec le support de Marc Kucharz</li>
                        <li>Des randonnées quotidiennes pour se remettre en forme et respirer dans un écrin naturel préservé</li>
                        <li>Des voyages sonores les soirs pour bien dormir</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Des ateliers connaissances</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Le microbiote, son utilité et comment le nourrir</li>
                        <li>Le nerf vague, comment l'assouplir pour moins stresser</li>
                        <li>Les neurotransmetteurs, quelle alimentation pour leur optimisation</li>
                        <li>Le cortisol, hormone délétère en 12 points</li>
                        <li>La micronutrition les bases pour savoir faire ses choix</li>
                        <li>L'épigénétique, le fonctionnement de nos gènes</li>
                        <li>Les perturbateurs endocriniens, comment les réduire</li>
                        <li>L'évolution de l'alimentation depuis les années 50...</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">A la rencontre les artisans de la terre</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Visite de la ferme de Serge, éleveur fromager, apiculteur en bio à 5 minutes de la maison</li>
                        <li>Découverte du fournil de Robin et Céline, paysans boulangers en bio, néo-ruraux</li>
                        <li>A la rencontre de Patricia, cueilleuse de plantes médicinales en bio</li>
                        <li>Visite du moulin de Méjane, découverte des huiles locales bio en noix, noisette et colza</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="Présentation de Marie" class="section">
        <h1>Présentation de Marie</h1>
        <div class="card">
            <div class="card-info">
                <div class="containerPresMarie">
                    <p>J’ai fait des études de droit et d’économie qui m’ont permise de travailler dans le commerce 20 ans dont 17 ans pour un industriel de l’agroalimentaire pour faire de la négociation auprès de la grande distribution.<br/>
                    En 2015 je suis en burn-out, signe une rupture conventionnelle, et décide de ne pas prendre les anxiolytiques préconisés par mon médecin, mais de prendre mon temps pour me sentir mieux, épuisée j’ai d’abord besoin de dormir.</p>
                    <img class="ppMarie" src="../images/marie.jpg">
                </div>
                <p>Après avoir beaucoup dormi 6 mois, je découvre sur une vidéo de Joël de Rosnay qui parle d’épigénétique :<br/>
                <!-- <a href="https://youtu.be/XTyhB2QgjKg?si=XCQTXJEGucwekk1g">vidéo de Joël de Rosnay</a> -->
                <br/>
                <div class="video-container">
                    <iframe class="video-embed" src="https://www.youtube.com/embed/XTyhB2QgjKg?si=XCQTXJEGucwekk1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br/>         
                Cette science me fait prendre conscience que ma santé est de ma responsabilité si je fais un minimum d’activité physique, si j’apprends a réduire mon stress, si j’ai une alimentation saine, si je prend du plaisir et si je m’entoure de personne avec lequel je me sens bien.<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Débute mon parcours de curiosité entre 2016 et 2023</i><br/>
                J’ai besoin de savoir et d’expérimenter et me tourne vers des livres, stages et formations pour comprendre ces 5 piliers, (il n’existe pas de formation en épigénétique, dommage cette profession pourrait accompagner les gens à être autonome sur leur santé par de la prévention).<br/>
                Je sens que ma vie peux retrouver du sens. Je vais aller chercher des connaissances en naturopathie, coaching de vie, TCC (thérapie Comportementale et Cognitive), en nutrition, je fais des stages pour apprendre a faire des cercles de parole, un stage pour apprendre avec la méthode Chiapi (pour l’arret du tabac)…. j’ai déjà dans l’idée de proposer des séjours aux personnes qui ont envie de prendre un temps pour eux.<br/>
                De ma première vie, il me reste une écoute active qui m’a permis de performer, et je ne remercierai jamais assez cette société américaine de m’avoir offert de multiple formations sur l’écoute et le décryptage de l’autre. Il me reste également une grande connaissance sur l’alimentation industrialisée.<br/>
                Aujourd’hui, je vie avec un agriculteur, Philippe, qui m’a mis a disposition le lieu de mes envies pour vous accueillir au mieux.<br/>
                    
                Au plaisir de vous recevoir et de vous partager les connaissances que j’ai découvertes ces 9 dernières années</p>
                    
                <p class="signature">Marie</p>
            </div>
        </div>
    </div>

    <div id="Alimentation" class="section">
        <h1>Alimentation</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Activité physique" class="section">
        <h1>Activité physique</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Stress" class="section">
        <h1>Stress</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Plaisir" class="section">
        <h1>Plaisir</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Social" class="section">
        <h1>Social</h1>
        <p>Contenu de la section 3...</p>
    </div>
    <script src="../js/script.js"></script>
    
</body>
<%- include('footer') %> 
</html>
