<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('navbar') %> 


    <div class="navbarHori">
        <a href="#Introduction" data-section="Introduction"><span></span></a>
        <a href="#Accueil" data-section="Accueil"><span></span></a>
        <a href="#Présentation du séjour" data-section="Présentation du séjour"><span></span></a>
        <a href="#Présentation de Marie" data-section="Présentation de Marie"><span></span></a>
        <a href="#Alimentation" data-section="Alimentation"><span></span></a>
        <a href="#Activité physique" data-section="Activité physique"><span></span></a>
        <a href="#Stress" data-section="Stress"><span></span></a>
        <a href="#Plaisir" data-section="Plaisir"><span></span></a>
        <a href="#Social" data-section="Social"><span></span></a>
    </div>

    <div id="Introduction" class="section">
    <div class="containerindex">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-info">
                        <h2>Quand notre vie va trop vite</h2>
                        <p class="title"></p>
                        <ul>
                            <li>On ne prend plus le temps de se détendre</li>
                            <li>On ne prend plus le temps de prendre soin de soi</li>
                            <li>On est embarqué dans une routine folle</li>
                            <li>On perd sa confiance en soi, sa créativité</li>
                            <li>On n’est plus le chauffeur de notre vie</li>
                            <li>On ne trouve plus de sens dans sa vie</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-info">
                        <h2>Petit à petit ...</h2>
                        <p class="title">
                        <ul>
                            <li>On se renferme sur soi</li>
                            <li>On est plus colérique</li>
                            <li>On devient ce que les autres semblent vouloir</li>
                            <li>On essaie de faire tellement bien qu’on ne se reconnaît plus</li>
                            <li>On est de plus en plus fatigué</li>
                            <li>On est moins joyeux ...</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-6">
                <div class="card">
                    <div class="card-info">
                        <h2>Pourtant, il serait judicieux de</h2>
                        <ul>
                            <li><p class="title">Sortir de chez soi et demander de l’aide</p></li>
                            <li><p class="title">Comprendre les mécanismes qui ont abouti à ces maux</p></li>
                            <li><p class="title"></p>Rester physiquement actif</li>
                            <li><p class="title">Retrouver confiance en soi</p></li>
                            <li><p class="title">Restaurer une hygiène de vie pour évacuer les problèmes de santé</p></li>
                            <li><p class="title">Comprendre ses besoins</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- 
        <h1 class="text-center">Introduction</h1>
       <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-info">
                        <h2>Quand notre vie va trop vite</h2>
                        <ul>
                            <li>On ne prend plus le temps de se détendre</li>
                            <li>On ne prend plus le temps de prendre soin de soi</li>
                            <li>On est embarqué dans une routine folle</li>
                            <li>On perd sa confiance en soi, sa créativité</li>
                            <li>On n’est plus le chauffeur de notre vie</li>
                            <li>On ne trouve plus de sens dans sa vie</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 card">
                    <div class="card-info">
                        <h2>Petit à petit ...</h2>
                        <ul>
                            <li>On se renferme sur soi</li>
                            <li>On est plus colérique</li>
                            <li>On devient ce que les autres semblent vouloir</li>
                            <li>On essaie de faire tellement bien qu’on ne se reconnaît plus</li>
                            <li>On est de plus en plus fatigué</li>
                            <li>On est moins joyeux ...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 card">
                <div class="col-12 text-center card-info">
                    <h2>Pourtant, il serait judicieux de</h2>
                    <ul>
                        <li>Sortir de chez soi et demander de l’aide</li>
                        <li>Comprendre les mécanismes qui ont abouti à ces maux</li>
                        <li>Rester physiquement actif</li>
                        <li>Retrouver confiance en soi</li>
                        <li>Restaurer une hygiène de vie pour évacuer les problèmes de santé</li>
                        <li>Comprendre ses besoins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <div id="Accueil" class="section">
        <h1>Accueil</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Présentation du séjour" class="section">
        <h1>Présentation du séjour</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Présentation de Marie" class="section">
        <h1>Présentation de Marie</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Alimentation" class="section">
        <h1>Alimentation</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Activité physique" class="section">
        <h1>Activité physique</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Stress" class="section">
        <h1>Stress</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Plaisir" class="section">
        <h1>Plaisir</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Social" class="section">
        <h1>Social</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
