<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('navbar') %> 


    <div class="navbarHori">
        <a href="#Accueil" data-section="Accueil"><span></span></a>
        <a href="#Présentation du séjour" data-section="Présentation du séjour"><span></span></a>
        <a href="#Présentation de Marie" data-section="Présentation de Marie"><span></span></a>
        <a href="#Alimentation" data-section="Alimentation"><span></span></a>
        <a href="#Activité physique" data-section="Activité physique"><span></span></a>
        <a href="#Stress" data-section="Stress"><span></span></a>
        <a href="#Plaisir" data-section="Plaisir"><span></span></a>
        <a href="#Social" data-section="Social"><span></span></a>
    </div>
    
    <div class="baniere">
        <h1 class="phraseAccroche">Retrouvez l'équilibre et la sérénité</h1>
    </div>


    <div id="Accueil" class="section">
        <h1>Accueil</h1>
        <div class="containerindex">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Quand notre vie va trop vite</h2>
                            <ul>
                                <li>On ne prend plus le temps de se détendre</li>
                                <li>On ne prend plus le temps de prendre soin de soi</li>
                                <li>On est embarqué dans une routine folle</li>
                                <li>On perd sa confiance en soi, sa créativité</li>
                                <li>On n'est plus le chauffeur de notre vie</li>
                                <li>On ne trouve plus de sens dans sa vie</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Petit à petit ...</h2>
                            <ul>
                                <li>On se renferme sur soi</li>
                                <li>On est plus colérique</li>
                                <li>On devient ce que les autres semblent vouloir</li>
                                <li>On essaie de faire tellement bien qu'on ne se reconnaît plus</li>
                                <li>On est de plus en plus fatigué</li>
                                <li>On est moins joyeux ...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-info">
                            <h2>Pourtant, il serait judicieux de</h2>
                            <ul>
                                <li>Sortir de chez soi et demander de l'aide</li>
                                <li>Comprendre les mécanismes qui ont abouti à ces maux</li>
                                <li>Rester physiquement actif</li>
                                <li>Retrouver confiance en soi</li>
                                <li>Restaurer une hygiène de vie pour évacuer les problèmes de santé</li>
                                <li>Comprendre ses besoins</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Présentation du séjour" class="section">
        <h1>Je propose</h1>
        <div class="row">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Mes outils pour retrouver son cycle</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Des activités ensemble pour libérer la parole et reprendre confiance en soi avec les autres</li><li>Des ateliers de connaissances</li><li>Des temps d'introspection</li>
                        <li>Des rencontres avec les artisans de la terre, à la rencontre de personnes simples et authentiques qui nous nourrissent</li>
                        <li>Possibilité de prendre du temps pour aller chez un dentiste, un ostéopathe, ou pour arrêter de fumer</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Activités ensemble</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Faire un arbre de vie (pratique narrative) pour restaurer la confiance en soi</li>
                        <li>Des partages quotidiens autour de la CNV (Communication Non Violente) avec le support de « L'apprentie girafe »</li>
                        <li>Des jeux de développement personnel avec le support de Marc Kucharz</li>
                        <li>Des randonnées quotidiennes pour se remettre en forme et respirer dans un écrin naturel préservé</li>
                        <li>Des voyages sonores les soirs pour bien dormir</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">Des ateliers connaissances</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Le microbiote, son utilité et comment le nourrir</li>
                        <li>Le nerf vague, comment l'assouplir pour moins stresser</li>
                        <li>Les neurotransmetteurs, quelle alimentation pour leur optimisation</li>
                        <li>Le cortisol, hormone délétère en 12 points</li>
                        <li>La micronutrition les bases pour savoir faire ses choix</li>
                        <li>L'épigénétique, le fonctionnement de nos gènes</li>
                        <li>Les perturbateurs endocriniens, comment les réduire</li>
                        <li>L'évolution de l'alimentation depuis les années 50...</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 case">
                <h2 class="bordertitle">A la rencontre les artisans de la terre</h2>
            </div>
            <div class="col-lg-6 case">
                <div class="card">
                    <ul class="card-info">
                        <li>Visite de la ferme de Serge, éleveur fromager, apiculteur en bio à 5 minutes de la maison</li>
                        <li>Découverte du fournil de Robin et Céline, paysans boulangers en bio, néo-ruraux</li>
                        <li>A la rencontre de Patricia, cueilleuse de plantes médicinales en bio</li>
                        <li>Visite du moulin de Méjane, découverte des huiles locales bio en noix, noisette et colza</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="Présentation de Marie" class="section">
        <h1>Présentation de Marie</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Alimentation" class="section">
        <h1>Alimentation</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Activité physique" class="section">
        <h1>Activité physique</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Stress" class="section">
        <h1>Stress</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Plaisir" class="section">
        <h1>Plaisir</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Social" class="section">
        <h1>Social</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
