<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Page d'accueil</h1>
    <button onclick="window.location.href = '/reservation';">Reserver</button>
    <button onclick="window.location.href = '/blog';">Blog</button>
</body>
</html>
