<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="../css/navbar.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <!-- Ajouter le bouton de bascule pour les petits écrans
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->


                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex justify-content-start">
                        <li id="liLogo">
                            <img id="logo" src="../images/logo.png"/>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/entretien">Réserver</a>
                        </li>
                        <div class="rs">
                            <li class="nav-item">
                                <p class="nav-link tel">0761374020</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  page-scroll " href="https://www.instagram.com/marie.rousseau.france/">
                                    <svg width="31" height="30" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.7559 11.6802C17.8142 11.6802 15.952 12.4515 14.5789 13.8245C13.2059 15.1976 12.4346 17.0598 12.4346 19.0015C12.4346 20.9432 13.2059 22.8055 14.5789 24.1785C15.952 25.5515 17.8142 26.3228 19.7559 26.3228C21.6976 26.3228 23.5599 25.5515 24.9329 24.1785C26.3059 22.8055 27.0772 20.9432 27.0772 19.0015C27.0772 17.0598 26.3059 15.1976 24.9329 13.8245C23.5599 12.4515 21.6976 11.6802 19.7559 11.6802ZM19.7559 23.7563C18.4944 23.7563 17.2847 23.2551 16.3927 22.3632C15.5007 21.4712 14.9996 20.2614 14.9996 18.9999C14.9996 17.7385 15.5007 16.5287 16.3927 15.6367C17.2847 14.7447 18.4944 14.2436 19.7559 14.2436C21.0174 14.2436 22.2272 14.7447 23.1191 15.6367C24.0111 16.5287 24.5122 17.7385 24.5122 18.9999C24.5122 20.2614 24.0111 21.4712 23.1191 22.3632C22.2272 23.2551 21.0174 23.7563 19.7559 23.7563Z" fill="#7439cc"/>
                                        <path d="M27.3672 13.1178C28.3099 13.1178 29.0741 12.3536 29.0741 11.4109C29.0741 10.4683 28.3099 9.7041 27.3672 9.7041C26.4246 9.7041 25.6604 10.4683 25.6604 11.4109C25.6604 12.3536 26.4246 13.1178 27.3672 13.1178Z" fill="#7439cc"/>
                                        <path d="M33.2682 9.67565C32.9016 8.7291 32.3415 7.86951 31.6236 7.15191C30.9057 6.4343 30.0459 5.87449 29.0992 5.50831C27.9914 5.09246 26.8211 4.8676 25.6381 4.84331C24.1133 4.77681 23.6304 4.75781 19.7639 4.75781C15.8974 4.75781 15.4018 4.75781 13.8897 4.84331C12.7076 4.86636 11.5381 5.09126 10.4317 5.50831C9.48481 5.87406 8.62479 6.43372 7.90685 7.15138C7.18892 7.86904 6.62894 8.72885 6.26283 9.67565C5.84689 10.7834 5.62255 11.9538 5.59941 13.1368C5.53133 14.66 5.51074 15.1429 5.51074 19.011C5.51074 22.8775 5.51074 23.3699 5.59941 24.8851C5.62316 26.0695 5.84641 27.238 6.26283 28.3479C6.62997 29.2943 7.19049 30.1538 7.9086 30.8714C8.6267 31.5889 9.48659 32.1488 10.4333 32.5152C11.5376 32.9478 12.7076 33.1887 13.8929 33.2277C15.4177 33.2942 15.9006 33.3148 19.7671 33.3148C23.6336 33.3148 24.1292 33.3148 25.6412 33.2277C26.8242 33.2037 27.9944 32.9794 29.1024 32.5643C30.0489 32.1973 30.9084 31.637 31.6262 30.9192C32.344 30.2014 32.9043 29.3418 33.2713 28.3954C33.6877 27.2871 33.911 26.1186 33.9347 24.9342C34.0028 23.4111 34.0234 22.9281 34.0234 19.0601C34.0234 15.192 34.0234 14.7011 33.9347 13.1859C33.9163 11.9862 33.6908 10.7986 33.2682 9.67565ZM31.3397 24.768C31.3294 25.6805 31.1629 26.5844 30.8472 27.4406C30.6095 28.0564 30.2455 28.6155 29.7786 29.0821C29.3118 29.5486 28.7524 29.9123 28.1366 30.1497C27.2899 30.4639 26.3955 30.6305 25.4924 30.6421C23.9882 30.7118 23.5639 30.7292 19.7069 30.7292C15.8467 30.7292 15.4525 30.7292 13.9198 30.6421C13.0172 30.6311 12.1233 30.4645 11.2772 30.1497C10.6592 29.9138 10.0977 29.5507 9.62882 29.0841C9.15997 28.6174 8.79431 28.0575 8.55549 27.4406C8.24428 26.5936 8.07782 25.7003 8.06308 24.7981C7.99499 23.2939 7.97916 22.8696 7.97916 19.0126C7.97916 15.154 7.97916 14.7597 8.06308 13.2255C8.07331 12.3135 8.23986 11.4101 8.55549 10.5544C9.03841 9.30515 10.028 8.3219 11.2772 7.84373C12.1237 7.53045 13.0174 7.36392 13.9198 7.35131C15.4256 7.28323 15.8483 7.26423 19.7069 7.26423C23.5655 7.26423 23.9613 7.26423 25.4924 7.35131C26.3956 7.36218 27.2901 7.52876 28.1366 7.84373C28.7524 8.08166 29.3116 8.44572 29.7784 8.91253C30.2453 9.37934 30.6093 9.93859 30.8472 10.5544C31.1585 11.4014 31.3249 12.2947 31.3397 13.197C31.4077 14.7027 31.4252 15.1255 31.4252 18.9841C31.4252 22.8411 31.4252 23.2559 31.3571 24.7696H31.3397V24.768Z" fill="#7439cc"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  page-scroll " href="https://www.facebook.com/marie.rousseau.9634">
                                    <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M29.9074 0.302979H1.75926C1.29267 0.302979 0.8452 0.488328 0.515275 0.818254C0.18535 1.14818 0 1.59565 0 2.06224V30.2104C0 30.677 0.18535 31.1244 0.515275 31.4544C0.8452 31.7843 1.29267 31.9696 1.75926 31.9696H16.9153V19.7252H12.8021V14.9312H16.9153V11.4127C16.9153 7.32242 19.4134 5.09344 23.0727 5.09344C24.3024 5.08992 25.5339 5.15326 26.7583 5.28168V9.53909H24.2338C22.2494 9.53909 21.8623 10.4856 21.8623 11.8701V14.9224H26.607L25.9913 19.7164H21.8606V31.9696H29.9074C30.374 31.9696 30.8215 31.7843 31.1514 31.4544C31.4813 31.1244 31.6667 30.677 31.6667 30.2104V2.06224C31.6667 1.59565 31.4813 1.14818 31.1514 0.818254C30.8215 0.488328 30.374 0.302979 29.9074 0.302979Z" fill="#7439cc"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  page-scroll " href="https://www.linkedin.com/in/marie-rousseau-50864b3b/">
                                    <svg width="25" height="24" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.7558 0.302979H2.60765C2.14106 0.302979 1.69359 0.488328 1.36366 0.818254C1.03374 1.14818 0.848389 1.59565 0.848389 2.06224V30.2104C0.848389 30.677 1.03374 31.1244 1.36366 31.4544C1.69359 31.7843 2.14106 31.9696 2.60765 31.9696H30.7558C31.2224 31.9696 31.6699 31.7843 31.9998 31.4544C32.3297 31.1244 32.5151 30.677 32.5151 30.2104V2.06224C32.5151 1.59565 32.3297 1.14818 31.9998 0.818254C31.6699 0.488328 31.2224 0.302979 30.7558 0.302979ZM10.2411 27.2847H5.54033V12.1727H10.2411V27.2847ZM7.8907 10.1091C7.16843 10.1091 6.47574 9.82217 5.96502 9.31144C5.45429 8.80072 5.16737 8.10803 5.16737 7.38576C5.16737 6.66348 5.45429 5.97079 5.96502 5.46007C6.47574 4.94935 7.16843 4.66242 7.8907 4.66242C8.61298 4.66242 9.30567 4.94935 9.81639 5.46007C10.3271 5.97079 10.614 6.66348 10.614 7.38576C10.614 8.10803 10.3271 8.80072 9.81639 9.31144C9.30567 9.82217 8.61298 10.1091 7.8907 10.1091ZM27.8319 27.2847H23.1364V19.9363C23.1364 18.1841 23.1048 15.9305 20.6946 15.9305C18.2492 15.9305 17.878 17.841 17.878 19.8132V27.2865H13.1861V12.1745H17.6898V14.2398H17.7549C18.3794 13.0523 19.9135 11.7997 22.1952 11.7997C26.9523 11.7997 27.8301 14.9277 27.8301 18.9986L27.8319 27.2847Z" fill="#7439cc"/>
                                    </svg>
                                </a>
                            </li>
                        </div>      
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Inclure jQuery (requis pour Bootstrap JavaScript)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    Inclure Bootstrap JavaScript
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>

<script>
    // Attendez que le DOM soit chargé
    document.addEventListener("DOMContentLoaded", function() {
        // Récupérez l'URL de la page actuelle
        var currentLocation = window.location.href.substring("http://localhost:3000".length);

        // Sélectionnez tous les liens de la navbar
        var navLinks = document.querySelectorAll('.navbar-nav .nav-item');

        // Parcourez chaque lien pour vérifier s'il correspond à la page active
        navLinks.forEach(function(navItem) {
            var link = navItem.querySelector('.nav-link');
            var linkHref = link.getAttribute('href');

            // Vérifiez si l'URL de la page actuelle correspond à l'URL du lien dans la navbar
            if (currentLocation === linkHref) {
                // Ajoutez la classe 'active' à l'élément parent (li) correspondant
                navItem.classList.add('active');
            }
        });
    });
</script>
