<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin</title>
</head>
<body>
    <form id="sectionForm">
        <label for="sectionSelect">Choisir une section à modifier :</label>
        <select id="sectionSelect">
            <option value="Accueil">Accueil</option>
            <option value="Présentation du séjour">Présentation du séjour</option>
            <option value="Présentation de Marie">Présentation de Marie</option>
            <option value="Alimentation">Alimentation</option>
            <option value="Activité physique">Activité physique</option>
            <option value="Stress">Stress</option>
            <option value="Plaisir">Plaisir</option>
            <option value="Social">Social</option>
        </select>
        <br>
        <label for="sectionTitle">Titre de la section :</label>
        <input type="text" id="sectionTitle">
        <br>
        <label for="sectionContent">Contenu de la section :</label>
        <textarea id="sectionContent" rows="4" cols="30"></textarea>
        <br>
        <input type="submit" value="Modifier">
    </form>

    <script src="/js/accueilAdmin.js"></script>
</body>
</html>
