    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/button.css">
    </head>
    <body>
        <h1>Page d'accueil</h1>
        <div class="btn-clasic" onclick="reserver()">
            <a class="btn-content btn-clasiccontent" href="#">
              <span class="btn-title">Réserver</span></a>
            </div>
        <button><a href="/adminReservation">adminReserver</a></button>
        <button><a href="/adminBlog">adminBlog</a></button>
        <button><a href="/adminEntretien">adminEntretien</a></button>
        <button><a href="/adminAccueil">adminAccueil</a></button>
    </body>
    </html>

    
