    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/button.css">
    </head>
    <body>
        <h1>Page d'accueil</h1>
        <div class="btn-clasic" onclick="reserver()">
            <a class="btn-content btn-clasiccontent" href="/adminReservation">
              <span class="btn-title">adminReserver</span></a>
            </div>
        <div class="btn-clasic" onclick="reserver()">
            <a class="btn-content btn-clasiccontent" href="/adminBlog">
                <span class="btn-title">adminBlog</span></a>
            </div>
        <div class="btn-clasic" onclick="reserver()">
            <a class="btn-content btn-clasiccontent" href="/adminEntretien">
                <span class="btn-title">adminEntretien</span></a>
            </div>
        <div class="btn-clasic" onclick="reserver()">
            <a class="btn-content btn-clasiccontent" href="/adminAccueil">
                <span class="btn-title">adminAccueil</span></a>
            </div>
    </html>

    
