<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Administrateur</title>
    <link rel="stylesheet" href="/css/blogAdmin.css"> 
    <link rel="stylesheet" href="/css/style.css"> 
    
    <!-- Utilisation du chemin absolu pour le fichier CSS -->
</head>
<body>
    <h1>Interface Administrateur</h1>
    <%- include('navbarAdmin') %>

    <h2>Ecrire un nouvel article</h2>
    <form id="articleForm">
        <label for="title">Titre :</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Contenu :</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>
        <label for="image">Image :</label><br>
        <input type="file" id="image" name="image"><br> 
        <input type="submit" value="Enregistrer">
    </form>

    <h2>Supprimer un article</h2>
     <form id="deleteArticleForm">
        <label for="articleTitleToDelete">Titre de l'article à supprimer :</label>
        <input type="text" id="articleTitleToDelete" name="articleTitleToDelete">
        <button type="submit">Supprimer l'article</button>
    </form>

    <h2>Modifier un article</h2>

    <form id="searchArticleForm">
        <label for="searchTitle">Nom de l'article à modifier :</label><br>
        <input type="text" id="searchTitle" name="searchTitle" required><br>
        <input type="submit" value="Rechercher">
    </form>

    <form id="editArticleForm">
        <label for="editTitle">Titre :</label><br>
        <input type="text" id="editTitle" name="editTitle" readonly required><br>
        <label for="editContent">Nouveau contenu :</label><br>
        <textarea id="editContent" name="editContent" rows="4" cols="50" required></textarea><br>
        <label for="editImage">Nouvelle image :</label><br>
        <input type="file" id="editImage" name="editImage"><br>
        <input type="submit" value="Enregistrer les modifications" id="saveChanges">
    </form>

    <script src="/js/blogAdmin.js"></script> <!-- Utilisation du chemin absolu pour le fichier JavaScript -->
</body>
</html>
