<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration des entretiens</title>
    <link rel="stylesheet" href="css/entretien.css">
</head>
<body>
    <h1>Liste des entretiens</h1>
    <table>
        <thead>
            <tr>
                <th>Jour</th>
                <th>Heure</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Numéro de téléphone</th>
            </tr>
        </thead>
        <tbody id="entretiensTableBody">
            <!-- Les entretiens seront ajoutés ici dynamiquement par JavaScript -->
        </tbody>
    </table>

    <script src="/js/entretienAdmin.js"></script>
</body>
</html>
