<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration des Réservations</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
    <%- include('navbarAdmin') %>
    <h1>Administration des Réservations</h1>
    <table id="reservationsTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody id="reservationsBody">
            <!-- Les réservations seront insérées ici -->
        </tbody>
    </table>

    <script src="/js/reservationAdmin.js"></script>
</body>
</html>