body {
    font-family: Arial, sans-serif;
    background-color: #b56ae0;
    color: #333;
    margin: 20px;
    padding: 0;
}

#title, #articleTitle {
    width: 80%; /* Vous pouvez ajuster la valeur en fonction de la largeur souhaitée */
    max-width: 400px; /* Limitez la largeur maximale pour éviter qu'il ne devienne trop grand */
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style du champ pour saisir le titre de l'article à supprimer */
#articleTitle {
    width: calc(100% - 120px); /* Réduire la largeur pour faire de la place pour le bouton */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style des boutons pour vider les articles, supprimer un article et supprimer le dernier article */
#clearArticles,
#deleteArticle,
#deleteLastArticle,
input[type="submit"] {
    display: inline-block; /* Afficher en ligne pour occuper seulement l'espace nécessaire */
    background-color: #8A2BE2; /* Rose */
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
#clearArticles:hover,
#deleteArticle:hover,
#deleteLastArticle:hover {
    background-color: #6A2075; /* Rose plus foncé au survol */
}   

/* Ajouter un peu d'espace entre les boutons */
#clearArticles,
#deleteArticle {
    margin-right: 10px;
}

/* Style des boutons pour supprimer un article (ajustement pour les mobiles) */
@media (max-width: 480px) {
    #deleteArticle,
    #deleteLastArticle {
        width: 100%;
        display: block; /* Afficher en bloc pour remplir la largeur sur les petits écrans */
        margin-right: 0;
    }

    #articleTitle {
        width: 100%;
    }
}

label {
    display: block; /* Affiche les labels en bloc pour qu'ils prennent toute la largeur disponible */
    margin-bottom: 8px; /* Marge en bas pour séparer les labels des champs de saisie */
    font-weight: bold; /* Police en gras pour les labels */
    color: #555; /* Couleur du texte des labels */
}

img {
    max-width: 20em;
    min-width: 10em;
    max-height: 20em;
    min-height: 10em;
}