body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Couleur de fond foncée */
    color: #eee; /* Couleur du texte claire */
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #444; /* Couleur de fond du conteneur légèrement plus foncée */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Ombre légère avec une couleur de fond claire */
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee; /* Couleur de texte claire pour les titres */
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ccc; /* Couleur de texte légèrement plus claire pour les labels */
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666; /* Bordure légèrement plus foncée */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #555; /* Couleur de fond légèrement plus foncée */
    color: #eee; /* Couleur du texte claire */
}

/* Style du champ pour saisir le titre de l'article à supprimer */
#articleTitle {
    width: calc(100% - 120px); /* Réduire la largeur pour faire de la place pour le bouton */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #666; /* Bordure légèrement plus foncée */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #555; /* Couleur de fond légèrement plus foncée */
    color: #eee; /* Couleur du texte claire */
}

/* Style des boutons pour vider les articles, supprimer un article et supprimer le dernier article */
#clearArticles,
#deleteArticle,
#deleteLastArticle,
#searchArticle,
input[type="submit"] {
    display: inline-block;
    background-color: #999; /* Gris clair */
    color: #fff; /* Texte gris foncé */
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
#searchArticle:hover,
#clearArticles:hover,
#deleteArticle:hover,
#deleteLastArticle:hover {
    background-color: #ccc; /* Gris foncé au survol */
    color: #333; /* Texte blanc au survol */
}   
 
  

/* Ajouter un peu d'espace entre les boutons */
#clearArticles,
#deleteArticle {
    margin-right: 10px;
}

/* Style des boutons pour supprimer un article (ajustement pour les mobiles) */
@media (max-width: 480px) {
    #deleteArticle,
    #deleteLastArticle {
        width: 100%;
        display: block;
        margin-right: 0;
    }

    #articleTitle {
        width: 100%;
    }
}

img {
    max-width: 20em;
    min-width: 10em;
    max-height: 20em;
    min-height: 10em;
    border: 2px solid #aaa; /* Bordure légèrement plus claire */
    background-color: #666; /* Couleur de fond légèrement plus foncée */
}

#editTitle,
#title,
#articleTitle,
#searchTitle {
    width: 60%; /* Réduire la largeur des champs de saisie des titres */
    max-width: 300px; /* Limiter la largeur maximale pour éviter qu'ils ne deviennent trop larges */
}

