<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('navbar') %> 


    <div class="navbarHori">
        <a href="#Accueil" data-section="Accueil"><span></span></a>
        <a href="#Présentation du séjour" data-section="Présentation du séjour"><span></span></a>
        <a href="#Présentation de Marie" data-section="Présentation de Marie"><span></span></a>
        <a href="#Alimentation" data-section="Alimentation"><span></span></a>
        <a href="#Activité physique" data-section="Activité physique"><span></span></a>
        <a href="#Stress" data-section="Stress"><span></span></a>
        <a href="#Plaisir" data-section="Plaisir"><span></span></a>
        <a href="#Social" data-section="Social"><span></span></a>
    </div>

    <div id="Accueil" class="section">
        <h1>Accueil</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Présentation du séjour" class="section">
        <h1>Présentation du séjour</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Présentation de Marie" class="section">
        <h1>Présentation de Marie</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Alimentation" class="section">
        <h1>Alimentation</h1>
        <p>Contenu de la section 1...</p>
    </div>

    <div id="Activité physique" class="section">
        <h1>Activité physique</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Stress" class="section">
        <h1>Stress</h1>
        <p>Contenu de la section 3...</p>
    </div>

    <div id="Plaisir" class="section">
        <h1>Plaisir</h1>
        <p>Contenu de la section 2...</p>
    </div>

    <div id="Social" class="section">
        <h1>Social</h1>
        <p>Contenu de la section 3...</p>
    </div>

    
</body>
</html>
